@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;

}
.container {
    width: 60rem;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 0;
    padding-top: 25px;
    height: 600px;
}

button {
    background: none;
    border: none;
}

.closeContainer {
    margin-left: auto;
    margin-bottom: 50px;
    margin-right: -200px;
}


.button>img {
    height: 30px;
    width: 30px;

}
.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: -200px;
    margin-left: -200px;
    padding: 0;
    height: 60px;

}


.text {
    display: flex;
    margin-right: 20px;
    flex-direction: column;
    margin-top: 0;
}

h1, h3 {
    margin-left: 0;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 450px;
    margin-top: 50px;

}
.content>img {
    width: 500px;
    height: 500px;
    margin-left: 60px;

}

.arrowButtons {
    margin-left: auto;

}



