

.img {
    width: 500px;
    height: 500px;
    margin-left: -20px;
    margin-right: 50px;
    margin-top: -20px;
}

.option {
    font-size: 30px;
}

.radio {
    appearance: none;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 50%;
    border: solid 2px #D581BF;
    margin-right: 20px;
}
.radio:checked {
    background: linear-gradient(180deg, #D581BF 0%, #A982DB 100%);

}

