
.buttons {
    font-style: normal;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
}
.buttons>button {
    display: inline-block;
    background: linear-gradient(270deg, #A582DC 8.7%, #D480BE 76.55%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 36px;
    width: 150px;
    height: 40px;
    color: #ffffff;
    border: none;
    margin-top: 20px;
    margin-right: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;

}
