@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 60rem;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 0;
    padding-top: 25px;

    height: 600px;
}
button {
    background: none;
    border: none;
}

.closeContainer {
    margin-left: auto;
    margin-bottom: 50px;
    margin-right: -200px;
}


.button>img {
    height: 30px;
    width: 30px;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: -200px;
    margin-left: -200px;
    padding: 0;
    height: 60px;
}


h3 {
    font-size: 40px;
    line-height: 80px;
    color:#10084F;
    margin-bottom: 0;
    padding-bottom: 0;
}
h1 {
    color: #10084F;
    margin-top: 0;
    padding-top: 0;
    font-style: normal;
    font-weight: lighter;
}

.content {
    display: flex;
    padding: 0;

}
.content>img {
    width: 450px;
    height: 500px;
    margin-left: 60px;

}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.arrowButtons {
    margin-left: auto;

}

.option {
    margin-top: 15px;
    font-size: 21px;
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: fit-content;

}
.lbl{
    margin-top: -5px;
}

.inputs {
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 6px;

}

::-webkit-scrollbar-thumb {
    background: #888; /* Color of the thumb */
}

/* Style the button (not supported in all browsers) */
::-webkit-scrollbar-button {
    background: #555; /* Color of the button */
}



::-webkit-scrollbar-track {
    background: #929292;
    border-radius: 6px;
    height: 20px;

}


#img {
    height: 290px;
}