
.content>img {
    width: 450px;
    height: 500px;
    margin-left: 60px;

}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.arrowButtons {
    margin-left: auto;

}

.option {
    margin-top: 15px;
    font-size: 21px;
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: fit-content;

}
.input {

}

.inputs {
    display: block;
    overflow-y: scroll;
}

.inputs label {
    position: relative;
    top: -7px;
}
.option label{
    position: relative;
    top: -4px;
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 6px;

}

::-webkit-scrollbar-thumb {
    background: #888;
}


::-webkit-scrollbar-button {
    background: #555;
}



::-webkit-scrollbar-track {
    background: #929292;
    border-radius: 6px;
    height: 20px;

}

